# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# Backend
backend/target/
backend/.env
backend/.env.*
backend/src/main/resources/application-local.properties

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
backend/src/main/resources/application.properties

# Variables de entorno raíz
.env
.env.*